body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;  /* Center align text inside input */
}


button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}
